<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="directoryPath" value="C:\Users\Maryia_Lakhouskaya\Source\Repos\MessageQueues\Files" />
		<add key="queueName" value=".\private$\q16" />
	</appSettings>
</configuration>